@use "~sass-rem" as rem;

.container {
  // background-image: url("../../assets/bg1.webp");
  height: 723px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  color: #fff;
  padding-top: 10rem;

  @media screen and (max-width: 525px) {
    height: 750px;
    padding: 0 16px;
  }

  @media screen and (max-width: 525px) {
    height: 789px;
  }

  .try_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 68px;
    background: #07c168;
    border-radius: 4px;
    /////@at-root
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #ffffff;
    cursor: pointer;

    @media screen and (max-width: 525px) {
      width: 98%;
    }
  }

  .try_ghost {
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-top: 1rem;
    cursor: pointer;
  }
  .app_btn_standard_link {
    font-size: 16px;
    line-height: 24px;
  }
  .main_header {
    max-width: 1000px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    // height: 110px;
    @media screen and (max-width: 600px) {
      display: flex;
      align-items: flex-end;
      max-width: unset;
      font-size: 28px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 0rem;
      height: 200px;
    }
  }
  .secondary_header {
    max-width: 1150px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.8;

    @media screen and (max-width: 525px) {
      max-width: 400px;
      font-size: 17px;
      line-height: 32px;
      text-align: center;
      color: #ffffff;
      opacity: 0.8;
      margin-bottom: 48px;
      margin-top: 24px;
    }
  }
}

.how_container {
  background: #f5f5f8;
  height: 967px;
  padding-bottom: 0;
  column-gap: 0px;

  @media screen and (max-width: 796px) {
    height: unset;
  }
  @media screen and (max-width: 766px) {
    max-height: max-content;
    height: max-content;
  }
  @media screen and (max-width: 525px) {
    padding: 0px 10px;
    padding-top: 40px;
  }
  .how_secondcolumn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1080px) {
      //  display: inline-block;
      display: block;
      flex-direction: column;
      flex-shrink: 0;
    }
  }

  .how_inner_cover {
    position: relative;
    // display: flex;
    justify-content: center;
    //  align-items: center;
    @media screen and (max-width: 792px) {
      position: unset;
    }
  }

  .how_work_text_2 {
    display: none;
    @media screen and (max-width: 992px) {
      display: flex;
      font-weight: 700;
      font-size: 28px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #0c0932;
      justify-content: center;
      margin-bottom: 1rem;

      // max-width: 280px;
    }
    .how_text {
      max-width: 280px;
      // display: none;
      @media screen and (max-width: 725px) {
        // display: unset;
      }
    }
  }
  .how_work_image {
    position: absolute;
    bottom: 0;
    height: 700px;

    @media screen and (max-width: 1231px) {
      width: 400px;
    }
    @media screen and (max-width: 1093px) {
      height: 650px;
    }
    @media screen and (max-width: 992px) {
      width: 100%;
      padding: 0 2rem;
    }
    @media screen and (max-width: 792px) {
      margin-top: rem.convert(62px);
      position: unset;
      height: 600px;
    }
    @media screen and (max-width: 656px) {
      height: 450px;
    }
    .how_work_pic {
      height: 100%;
      @media screen and (max-width: 1553px) {
        width: 100%;
      }
    }
  }
  .how_work_text {
    max-width: 427px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 6rem;
    color: #0c0932;
    @media screen and (max-width: 989px) {
      font-size: 30px;
      display: none;
    }
  }

  .how_steps_body {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    height: max-content;
    padding-left: 6rem;
    justify-content: center;
    // align-items: center;
    @media screen and (max-width: 1231px) {
      row-gap: 3rem;
    }
    @media screen and (max-width: 1024px) {
      row-gap: 2rem;
      padding-left: 0rem;
    }
    @media screen and (max-width: 830px) {
      row-gap: 2.2rem;
    }

    .how_steps_container {
      display: flex;
      align-items: center;
      column-gap: 20px;
      row-gap: 30px;
      @media screen and (max-width: 819px) {
        font-size: 17px;
      }
      .how_steps_text {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        max-width: 500px;
        @media screen and (max-width: 1170px) {
          font-size: 19px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 18px;
        }
        @media screen and (max-width: 819px) {
          font-size: 17px;
        }
        @media screen and (max-width: 830px) {
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 0.03em;
          color: #535353;
        }
      }
    }
    .how_steps_btns {
      display: flex;
      @media screen and (max-width: 766px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
      }
      .try_btn_1 {
        @media screen and (max-width: 835px) {
          // width: 98%;
          padding: 0 !important;
        }
      }
    }
  }
}

.ownership_wrapper {
  display: flex;
  flex-direction: column;

  // padding: 0 6rem;
  position: relative;

  .ownership_wrapper_header_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }

  .ownership_main_header {
    max-width: 560px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #0c0932;
    margin-bottom: 1rem;
    @media screen and (max-width: 525px) {
      margin-left: 0rem;
      font-weight: 700;
      font-size: 28px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
      max-width: 350px;
    }
  }
  .ownership_sec_header {
    display: flex;
    max-width: 600px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #535353;
    opacity: 0.8;
    margin-bottom: 4rem;
    @media screen and (max-width: 525px) {
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.03em;
    }
  }
  .ownership_wrapper_count {
    width: 110px;
    height: 110px;
    display: flex;
    position: absolute;
    // right: 50%;
    top: -80px;
    right: 50%;
    left: calc(50% - 50px);
    // transform: translate(-50%, -50%);
    // left: 50;
  }

  .ownership_wrapper_contact_card_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    // column-gap: 20px;
    row-gap: 100px;
    // overflow: hidden;
    //  align-items: space-between;
    // column-gap: 1rem;

    @media screen and (max-width: 525px) {
      // padding: 0 10px;
    }

    .ownership_wrapper_contact_card {
      .ownership_wrapper_contact_card_title1 {
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        color: #2f54c6;
        margin-top: 30px;
      }
      .ownership_wrapper_contact_card_title2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        color: #ffb900;
        margin-top: 30px;
      }
      .ownership_wrapper_contact_card_content {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        max-width: 380px;
        letter-spacing: 0.03em;
        color: #0c0932;
        overflow: hidden;
      }
      &.card1 {
        padding: rem.convert(50px);
        // max-height: 507px;

        background: #f4f7fc;
        backdrop-filter: blur(250px);
        border-radius: 12px;
        max-width: 30.9rem;
        height: rem.convert(507px);
        @media screen and (max-width: 525px) {
          height: 100%;
          border-radius: 20px;
          width: 100%;
        }

        .co_own_imag {
          width: 100%;
          @media screen and (max-width: 525px) {
            display: none;
          }
        }
      }
      &.card2 {
        padding: rem.convert(50px);
        // max-height: 616px;
        // margin-left: 10rem;
        // max-width: 30.9rem;
        // max-width: rem.convert(493px);
        height: rem.convert(616px);
        background: #fff9e9;
        backdrop-filter: blur(250px);
        border-radius: 12px;
        @media screen and (max-width: 525px) {
          height: 100%;
          border-radius: 20px;
          width: 100%;
          //  padding: 0;
        }
        .co_own_imag {
          width: 100%;
          @media screen and (max-width: 525px) {
            display: none;
          }
        }
      }
    }
  }
  .ownership_wrapper_contact_btn {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 525px) {
      display: none;
    }
  }
}

.offering_wrapper {
  padding-left: 6rem;
  padding-bottom: 6rem;
  @media screen and (max-width: 1024px) {
    padding-left: 0;
    padding: 20px;
  }
  .offering_btn {
    @media screen and (max-width: 525px) {
      width: 100% !important;
    }
  }

  .offering_wrapper_header {
    margin-top: 3rem;
    margin-left: -6rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #0c0932;
    @media screen and (max-width: 950px) {
      margin-left: 0rem;
    }
    @media screen and (max-width: 525px) {
      margin-left: 0rem;
      font-weight: 700;
      font-size: 28px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
    }
  }
  .offering_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
    margin-bottom: 40px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @media screen and (max-width: 525px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .offering_grid_1 {
      //  grid-area: 1 / 1 / 3 / 3;
    }

    .offering_grid_3 {
      width: 100%;
      // height: 656px;
      grid-area: 1 / 3 / 3 / 5;
      @media screen and (max-width: 1024px) {
        // display: none;
        grid-area: 1 / 1 / 2 / 2;
        height: 253px;
      }

      .oferring_image {
        @media screen and (max-width: 766px) {
          border-radius: 10px;
        }
      }

      // border: 2px solid blue;
      // background: url("../../assets/offeringbg.webp");
      // border-radius: 12px 0px 0px 12px;
      // background-repeat: no-repeat;
      // object-fit: cover;
      // background-size: auto;
    }
  }
}

.testimony_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #0C0932;
  color: #ffffff;
  padding: rem.convert(48px 95px) !important;
  @media screen and (max-width: 766px) {
    padding: rem.convert(10px 10px) !important;
    height: rem.convert(545px);
  }

  .testimony_card_header_title {
    margin-bottom: 2.5rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    color: #ffffff;
    @media screen and (max-width: 766px) {
      text-align: center;
    }
  }

  .testimony_card_talk {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    column-gap: 40px;
    color: black;
    width: 100%;
    height: 374px;
    @media screen and (max-width: 524px) {
      padding: rem.convert(0);
      row-gap: 3rem;
    }

    .testimony_shadow_box {
      // background: linear-gradient(
      //   90deg,
      //   #0C0932 0%,
      //   rgba(47, 84, 198, 0) 94.68%
      // );
      background: linear-gradient(90deg, #2f2b5b 0%, rgba(202, 211, 238, 0) 94.68%);
      width: 385px;
      // height: 100%;
      height: 374px;
      position: absolute;
      left: 0;

      @media screen and (max-width: 640px) {
        display: none;
      }
    }
    .testimony_shadow_box_right {
      // background: linear-gradient(
      //   90deg,
      //   #2f54c6 0%,
      //   rgba(47, 84, 198, 0) 94.68%
      // );
      background: linear-gradient(90deg, #2f2b5b 0%, rgba(202, 211, 238, 0) 94.68%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 385px;
      height: 374px;
      position: absolute;
      right: 0;
      @media screen and (max-width: 525px) {
        width: 300px;
      }
    }
  }
}

/////////////////////SLIDER///////////////////@at-root
///
///
///

.item-slider {
  @media screen and (min-width: 1440px) {
    margin: 10px 80px;
    // background-color: red;
  }
  .title {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    .title {
      font-size: 30px;
    }
    .slick-slider {
      margin: 0 15px !important;

      .slick-next,
      .slick-prev {
        display: none !important;
        top: 105%;
        border-radius: 1px solid #eee;
      }
      .slick-next {
        right: 20px;
      }
      .slick-prev {
        left: 80%;
      }
    }
  }
}

.itm-wrap {
  padding: 0 15px;
}

.arrow-top-st {
  display: flex;
  flex-direction: row;
  margin-top: 1.4rem;
  // justify-content: center;
  align-items: center;
  column-gap: 20px;
  // margin-left: .5rem;
  // margin-top: 1rem;
  @media screen and (max-width: 525px) {
    display: none;
  }
}

.arrow__mob {
  display: none;
  @media screen and (max-width: 525px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}

.arrow__mob__grp {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.arrow-div {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  padding: 0.5rem 0.5rem;
}

.sliderCard {
  // height: 100px;
}

.container__padding__updown {
  padding-top: 7rem;
  padding-bottom: 2rem;
  @media screen and (max-width: 525px) {
    padding: 0rem 0rem;
    padding-top: 2rem;
  }
}

.artcard__pr {
  margin-right: 20px;
  @media screen and (max-width: 525px) {
    margin-right: 0;
  }
}

.artcard__pb {
  padding-bottom: 40px;
  @media screen and (max-width: 525px) {
    padding-bottom: 20px;
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// .ant-row{
//   // flex-flow: unset !important;
//   flex-flow:inherit !important;
//     @media screen and (max-width: 525px) {
//     flex-flow: row wrap !important;
//   }
// }

.popular__creator {
  @media screen and (max-width: 525px) {
    margin-bottom: 1.5rem;
  }
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  // display: flex !important;
  flex-flow: row wrap !important;
  // background-color: yellow !important;
  box-sizing: border-box;
  // width: 800px !important;
  // padding-left: 1rem!important;
  @media screen and (max-width: 1440px) {
    width: 100% !important;
  }
  @media screen and (max-width: 1076px) {
    // width: 400px !important;
  }
  @media screen and (max-width: 525px) {
    // display: flex !important;
    // background-color: yellow;
    // justify-content: center !important;
    // align-items: center !important;
    // width: 400px !important;
    // padding-left: 2rem !important;
    // margin-left: 2rem !important;
    // background-color: red!important;
  }
  @media screen and (min-width: 1152px) {
    // padding-left: 10rem !important;
    // width: 910px !important;
  }
  @media screen and (min-width: 1500px) {
  }
  @media screen and (min-width: 2400px) {
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
  // width: 100px !important;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  // opacity: 1 !important;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  // width: 90px !important;
  // height: 50px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  // color: red !important
}

.modal_container {
  .contact_flex_column {
    display: flex;
    flex-direction: column;
    // align-items: center;
    row-gap: 1.5rem;
  }
  .contact_title {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #0c0932;
    margin-bottom: 1rem;
  }
  .contact_sec_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0c0932;
    margin-bottom: 10px;
  }
  .modal_container_select {
    width: 100%;
    height: 64px;

    background: #f5f5f8;
    border-radius: 5px;
    .modal_container_option {
    }
  }
  .contact_input {
    width: 100% !important;
  }
  .contact_btn {
    width: 95% !important;
    // margin: 0 10px;
  }
}
